@model BGModern.Models.DynamicSpecialsModel 
<script language="JavaScript1.2" type="text/javascript">
    var slideshow_width		= '180px';	//SET IMAGE WIDTH
    var slideshow_height	= '150px';	// SET IMAGE HEIGHT
    var pause				= 3000;		// SET PAUSE BETWEEN SLIDE (3000=3 seconds)
    var TPEligible			= "@Model.TravelerPlusEligible";
    var TPLevel				= "@Model.TPLevel";
    var TPPlusLevelCon      = "@Model.TravelerPlusPlusLevelCon";
    var OwnCont				= "@Model.OwnerContractType";
    var BonusTime			= "@Model.BonusTimeEnabled";
    var vac					= "@Model.VacationGuardPath";
    var bgShowjs			= "@Model.ShowVG"
    var owner				= "@Model.ShowVG";
    var ownerdate			= "@Model.OwnerContractDate";
    var yachtqual			= "False";
    var show4K				= "@Model.Show4K";
    var fadeimages			= new Array();
    var c					= 2;
    var nvc                 = "@Model.SiteNavJS";

    if(TPLevel == TPPlusLevelCon)
    {
        yachtqual = "True";
    }

    if(TPLevel == "FALSE")
    {
        TPEligible = "";
    }

    //SET (1) IMAGE PATHS, (2) optional link, (3), optional link target:

    //Display the following banners if owner is not TP

    if(TPEligible == "" && OwnCont !== ""){

        if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && bgShowjs =="True" && show4K == "True"){
            // 4K Points Banner
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/4K_Bonus_PTS.gif", "@Html.GetParentSitePath()/owner/points4k.aspx", "_self"];
            // Norwegian’s Pearl
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/PearlBanner.jpg", "@Html.GetParentSitePath()/owner/FeatureDetail.aspx?ID=553", "_self"];
            // Points Protection Plan
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[4]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[5]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"]


        }else if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && bgShowjs =="True"){
            // Points Protection Plan
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && bgShowjs =="True" && yachtqual == "True"){
            // Grand Yacht Club Banner
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/YachtBanner.jpg", "gyc.aspx", "_self"];
            // Points Protection Plan
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[4]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else if(OwnCont != "Vacation Club" && BonusTime != "TRUE" &&  bgShowjs =="True"){
            // Points Protection Plan
            if (nvc != "ownerNVC_data"){
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
            else{
                // Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];

            }

        }else if(OwnCont != "Vacation Club" && BonusTime == "TRUE" &&  bgShowjs =="True"){
            // Points Protection Plan
            if (nvc != "ownerNVC_data"){
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
            else{
                // Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }



        }else if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && vac == ""){
            // Points Protection Plan
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else if(vac == "" && OwnCont != "Vacation Club" && BonusTime == "TRUE"){
            if (nvc != "ownerNVC_data"){
                // Points Protection Plan
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
            else{// Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"]; }


        }else if(yachtqual == "True" && OwnCont != "Vacation Club"){
            if (nvc != "ownerNVC_data"){
                // Points Protection Plan
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
            else{
                // Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }


        }else if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && bgShowjs =="True" && yachtqual == "True"){
            // Points Protection Plan
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else{
            if (nvc != "ownerNVC_data"){
                // Points Protection Plan
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
            else{// Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"]; }
        }
    }else if (TPEligible == "TRUE"){
        if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && bgShowjs =="True" && show4K == "True"){
            // 4K Points Banner
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/4K_Bonus_PTS.gif", "points4k.aspx", "_self"];
            // Points Protection Plan
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[4]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && bgShowjs =="True" && yachtqual == "True"){
            // Points Protection Plan
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && bgShowjs =="True"){
            // Points Protection Plan
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else if(OwnCont != "Vacation Club" && BonusTime != "TRUE" &&  bgShowjs =="True"){
            // Points Protection Plan
            if (nvc != "ownerNVC_data"){
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
            else
            {
                // Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }


        }else if(OwnCont != "Vacation Club" && BonusTime == "TRUE" &&  bgShowjs =="True"){
            // Points Protection Plan
            if (nvc != "ownerNVC_data"){
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }else
            {
                // Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }


        }else if(OwnCont == "Vacation Club" && BonusTime == "TRUE" && vac == ""){
            // Points Protection Plan
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            // Quorum
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else if(vac == "" && OwnCont != "Vacation Club" && BonusTime == "TRUE"){
            if (nvc != "ownerNVC_data"){
                // Points Protection Plan
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
            else{// Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];}


        }else if(yachtqual == "True" && OwnCont != "Vacation Club"){
            // Points Protection Plan
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];

        }else if (OwnCont == "Vacation Club" && BonusTime == "TRUE" && bgShowjs =="True" && yachtqual == "True"){
            //Points Protection Plan
            fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
            //Quorum
            fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
            // Vacation Profile Banner
            fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
            // Facebook Banner
            fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];


        }else if(yachtqual == "True" && OwnCont != "Vacation Club"){
            if (nvc != "ownerNVC_data"){
                // Points Protection Plan
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                // Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }else
            {// Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"]; }

        }else{
            if (nvc != "ownerNVC_data"){
                //Points Protection Plan
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                //Quorum
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[3]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
            else{	fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/PointsProtectionPlanBanner.gif", "@Html.GetParentSitePath()/owner/specialDetail.aspx?ID=490", "_self"];
                //Quorum
                fadeimages[0]=["@Html.GetFullSitePath()/Content/Images/banners/ask-bluegreen-180x150.jpg", "https://bluegreenvacations.force.com/CustomerCommunity/s/", "_self"];
                // Vacation Profile Banner
                fadeimages[1]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-vacation-profile.jpg", "https://bluegreenowner.com/owner/vacationProfile.aspx", "_self"];
                // Facebook Banner
                fadeimages[2]=["@Html.GetFullSitePath()/Content/Images/banners/bgo-facebook.jpg", "https://www.facebook.com/bluegreenvacations", "_self"];
            }
        }
    }

    ////NO need to edit beyond here/////////////
    var preloadedimages=new Array();
    for (p=0;p<fadeimages.length;p++){ 
        preloadedimages[p]=new Image();
        preloadedimages[p].src=fadeimages[p][0];
    }
    var ie4=document.all;
    var dom=document.getElementById;

    if (ie4||dom)
        document.write('<div style="position:relative;width:'+ slideshow_width +';height:'+ slideshow_height +';overflow:hidden"><div  id="canvas0" style="position:absolute;width:'+ slideshow_width +';height:'+slideshow_height+';top:0;left:0;filter:alpha(opacity=10);-moz-opacity:10"></div><div id="canvas1" style="position:absolute;width:'+ slideshow_width +';height:'+ slideshow_height +';top:0;left:0;filter:alpha(opacity=10);-moz-opacity:10;visibility: hidden"></div></div>');
    else
        document.write('<img name="defaultslide" src="'+ fadeimages[0][0] +'">');

    var curpos=10;
    var degree=10;
    var curcanvas="canvas0";
    var curimageindex=0;
    var nextimageindex=1;

    function fadepic(){
        if(curpos<100){
            curpos+=10;
            if(tempobj.filters)
                tempobj.filters.alpha.opacity=curpos;
            else if(tempobj.style.MozOpacity)
                tempobj.style.MozOpacity=curpos/101;
        }else{
            clearInterval(dropslide);
            nextcanvas=(curcanvas=="canvas0")? "canvas0" : "canvas1";
            tempobj=ie4? eval("document.all."+nextcanvas) : document.getElementById(nextcanvas);
            tempobj.innerHTML=insertimage(nextimageindex);
            nextimageindex=(nextimageindex<fadeimages.length-1)? nextimageindex+1 : 0;
            var tempobj2=ie4? eval("document.all."+nextcanvas) : document.getElementById(nextcanvas);
            tempobj2.style.visibility="hidden";
            setTimeout("rotateimage()",pause);
        }
    }

    function insertimage(i){
        var tempcontainer=fadeimages[i][1]!=""? '<a href="'+fadeimages[i][1]+'" target="'+fadeimages[i][2]+'">' : "";
        tempcontainer+='<img src="'+fadeimages[i][0]+'" border="0">';
        tempcontainer=fadeimages[i][1]!=""? tempcontainer+'</a>' : tempcontainer;
        return tempcontainer;
    }

    function rotateimage(){
        if (ie4||dom){
            resetit(curcanvas);
            var crossobj=tempobj=ie4? eval("document.all."+curcanvas) : document.getElementById(curcanvas);
            crossobj.style.zIndex++;
            tempobj.style.visibility="visible";
            var temp='setInterval("fadepic()",50)';
            dropslide=eval(temp);
            curcanvas=(curcanvas=="canvas0")? "canvas1" : "canvas0";
        }else
            document.images.defaultslide.src=fadeimages[curimageindex][0];
        curimageindex=(curimageindex<fadeimages.length-1)? curimageindex+1 : 0;
    }

    function resetit(what){ 
        curpos=10;
        var crossobj=ie4? eval("document.all."+what) : document.getElementById(what);
        if (crossobj.filters)
            crossobj.filters.alpha.opacity=curpos;
        else if (crossobj.style.MozOpacity)
            crossobj.style.MozOpacity=curpos/101;
    }

    function startit(){ 
        var crossobj=ie4? eval("document.all."+curcanvas) : document.getElementById(curcanvas);
        crossobj.innerHTML=insertimage(curimageindex);
        rotateimage();
    }

    if (ie4||dom)
        window.onload=startit;
    else
        setInterval("rotateimage()", pause);

</script>
