@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using BGSitecore.Models
@using BGSitecore.Utils
@using Sitecore.Mvc.Configuration


@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ResetPassword>


@{



}

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Sitecore().FormHandler("Profile", "ResetPasswordProcess")

    @Html.HiddenFor(m => m.email)
    @Html.HiddenFor(m => m.resetid)

    @Html.ValidationSummary(false)

    if ((ViewData["message"] != null))
    {
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @Html.Raw(ViewData["message"])
        </div>
    }


    if (!Model.hideUIElement)
    {
        <p>@Editable(Model, x => x.IntroText)</p>

        <div class="row">
            <div class="col-xs-12 col-md-6">

                <div class="form-group">
                    <div class="input-group toggle-password">
                        @Html.TextBoxFor(m => m.txtNewPassword, new { @class = "form-control js-show-password-rules", id = "user-password", placeholder = @Model.NewPasswordCaption, type = "password", maxlength = "20" })

                        <span class="input-group-btn">
                            <a href="#toggle-password" class="btn btn-secondary btn-password" tabindex="-1">
                                <span class="show-password">show</span>
                                <span class="hidden hide-password">hide</span>
                            </a>
                        </span>
                    </div>

                    @Html.Raw(UiUtils.BuildPasswordErrors())
                </div><!-- .form-group -->
                <div class="form-group">
                    <div class="input-group toggle-password">
                        @Html.TextBoxFor(m => m.txtConfirmPassword, new { @class = "form-control js-show-confirm-password-rules", id = "user-password", placeholder = @Model.ConfirmPasswordCaption, type = "password", maxlength = "20" })

                        <span class="input-group-btn">
                            <a href="#toggle-password" class="btn btn-secondary btn-password" tabindex="-1">
                                <span class="show-password">show</span>
                                <span class="hidden hide-password">hide</span>
                            </a>
                        </span>
                    </div>
                    @Html.Raw(UiUtils.BuildConfirmPasswordErrors())


                </div><!-- .form-group -->

                <div class="form-group">
                    <button class="btn btn-primary">@Model.SaveCaption</button>
                </div><!-- .form-group -->
            </div>
        </div>
    }
}
