@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using BGSitecore.Models
@using BGSitecore.Utils

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<SignInHelpCollection>
@{
}


<div class="site-content cover-image" id="site-content" @Html.Raw(ImageUtils.BuildBackgroundImage(Model.BackGroundImage,Model.SiteSettings.RemoteImageUrl))>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-6 col-primary">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 class="h1 color-primary text-lowercase">@Editable(Model, x => x.PageTitle)</h1>

                        @foreach (SignInHelp item in Model.List)
                        {
                            <p>
                                <strong class="font-size-18 font-fancy">@Editable(item, x => x.HelpQuestion)</strong>
                                <br>@Editable(item, x => x.HelpAnswer) 
                            </p>
                        }

                        <p>
                            <a href="@Model.SiteSettings.SignInPage.Url" title='@Sitecore.Globalization.Translate.Text("Profile_BackToSignIn")' class="btn btn-link">@Sitecore.Globalization.Translate.Text("Profile_BackToSignIn")</a>
                        </p>

                    </div><!-- .panel-body -->
                </div><!-- .panel -->
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->
